<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Australian Weather Explorer</h1>
        <form action="/search" method="POST">
            <input type="text" name="location" placeholder="Enter City (e.g. Sydney)">
            <button type="submit">Search</button>
        </form>
        <div style="text-align:center;">
            <a href="/visualizations" class="button">View Climate Analysis</a>
        </div>
    </div>
</body>
</html>